@{
    ViewData["Title"] = "Không tìm thấy";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Page not found</h3>
            <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>Xin lỗi, trang này không tồn tại!</h2>
        <a asp-area="" asp-controller="home" asp-action="index">Quay lại trang chủ</a>
    </div>
</div>

